<form class="{{cssClass}}" autocomplete="off">
    <!-- style='background-image: url("systems/wfrp1ed/images/charSheet-1.jpg"); background-size: cover; resize: both' -->
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'Name' }}" /></h1>
    </header>

    <div id="player-characteristics" style='background-image: url("systems/wfrp1ed/images/charSheet-1.jpg"); background-size: 100% 100%; resize: both; width: 100%; height: 100%'>
        <section class="charMetrics" style="width: 100%; height: 18%">

        </section>
        <table id="attribute-characteristics" >
            <tr id="characterisitcs-labels">
                <!-- <th style="width: 25%">{{localize "WFRP1ed.CHAR.Characteristic"}}</th>
                <th style="width: 5.0%">{{localize "WFRP1ed.CHARAbbrev.SP"}}</th>
                <th style="width: 5.0%">{{localize "WFRP1ed.CHARAbbrev.WS"}}</th>
                <th style="width: 5.0%">{{localize "WFRP1ed.CHARAbbrev.BS"}}</th>
                <th style="width: 5.0%">{{localize "WFRP1ed.CHARAbbrev.S"}}</th>
                <th style="width: 5.0%">{{localize "WFRP1ed.CHARAbbrev.T"}}</th>
                <th style="width: 5.0%">{{localize "WFRP1ed.CHARAbbrev.W"}}</th>
                <th style="width: 5.0%">{{localize "WFRP1ed.CHARAbbrev.I"}}</th>
                <th style="width: 5.0%">{{localize "WFRP1ed.CHARAbbrev.A"}}</th>
                <th style="width: 5.0%">{{localize "WFRP1ed.CHARAbbrev.Dex"}}</th>
                <th style="width: 5.0%">{{localize "WFRP1ed.CHARAbbrev.Ld"}}</th>
                <th style="width: 5.0%">{{localize "WFRP1ed.CHARAbbrev.Int"}}</th>
                <th style="width: 5.0%">{{localize "WFRP1ed.CHARAbbrev.Cl"}}</th>
                <th style="width: 5.0%">{{localize "WFRP1ed.CHARAbbrev.Wp"}}</th>
                <th style="width: 5.0%">{{localize "WFRP1ed.CHARAbbrev.Fel"}}</th> -->

                <th class="characterisitc-header"></th>
                <th style="width: 5.0%"></th>
                <th style="width: 5.0%"></th>
                <th style="width: 5.0%"></th>
                <th style="width: 5.0%"></th>
                <th style="width: 5.0%"></th>
                <th style="width: 5.0%"></th>
                <th style="width: 5.0%"></th>
                <th style="width: 5.0%"></th>
                <th style="width: 5.0%"></th>
                <th style="width: 5.0%"></th>
                <th style="width: 5.0%"></th>
                <th style="width: 5.0%"></th>
                <th style="width: 5.0%"></th>
                <th style="width: 5.0%"></th>
            </tr>
            <tr>
                <!-- <td style="width: 25%">{{localize "WFRP1ed.CHAR.CharInitial"}}</td> -->
                <td class="characterisitc-header"></td>
                <td>
                    <input name="system.characteristics.sp.initial" type="text" value="{{system.characteristics.sp.initial}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
                <td>
                    <input name="system.characteristics.ws.initial" type="text" value="{{system.characteristics.ws.initial}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
                <td>
                    <input name="system.characteristics.bs.initial" type="text" value="{{system.characteristics.bs.initial}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
                <td>
                    <input name="system.characteristics.s.initial" type="text" value="{{system.characteristics.s.initial}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
                <td>
                    <input name="system.characteristics.t.initial" type="text" value="{{system.characteristics.t.initial}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
                <td>
                    <input name="system.characteristics.w.initial" type="text" value="{{system.characteristics.w.initial}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
                <td>
                    <input name="system.characteristics.i.initial" type="text" value="{{system.characteristics.i.initial}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
                <td>
                    <input name="system.characteristics.a.initial" type="text" value="{{system.characteristics.a.initial}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
                <td>
                    <input name="system.characteristics.dex.initial" type="text" value="{{system.characteristics.dex.initial}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
                <td>
                    <input name="system.characteristics.ld.initial" type="text" value="{{system.characteristics.ld.initial}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
                <td>
                    <input name="system.characteristics.int.initial" type="text" value="{{system.characteristics.int.initial}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
                <td>
                    <input name="system.characteristics.cl.initial" type="text" value="{{system.characteristics.cl.initial}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
                <td>
                    <input name="system.characteristics.wp.initial" type="text" value="{{system.characteristics.wp.initial}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
                <td>
                    <input name="system.characteristics.fel.initial" type="text" value="{{system.characteristics.fel.initial}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
            </tr>
            <tr>
                <!-- <td>{{localize "WFRP1ed.CHAR.Advances"}}</td> -->
                <td class="characterisitc-header"></td>
                <td>
                    <input name="system.characteristics.sp.advances" type="text" value="{{system.characteristics.sp.advances}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
                <td>
                    <input name="system.characteristics.ws.advances" type="text" value="{{system.characteristics.ws.advances}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
                <td>
                    <input name="system.characteristics.bs.advances" type="text" value="{{system.characteristics.bs.advances}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
                <td>
                    <input name="system.characteristics.s.advances" type="text" value="{{system.characteristics.s.advances}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
                <td>
                    <input name="system.characteristics.t.advances" type="text" value="{{system.characteristics.t.advances}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
                <td>
                    <input name="system.characteristics.w.advances" type="text" value="{{system.characteristics.w.advances}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
                <td>
                    <input name="system.characteristics.i.advances" type="text" value="{{system.characteristics.i.advances}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
                <td>
                    <input name="system.characteristics.a.advances" type="text" value="{{system.characteristics.a.advances}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
                <td>
                    <input name="system.characteristics.dex.advances" type="text" value="{{system.characteristics.dex.advances}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
                <td>
                    <input name="system.characteristics.ld.advances" type="text" value="{{system.characteristics.ld.advances}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
                <td>
                    <input name="system.characteristics.int.advances" type="text" value="{{system.characteristics.int.advances}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
                <td>
                    <input name="system.characteristics.cl.advances" type="text" value="{{system.characteristics.cl.advances}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
                <td>
                    <input name="system.characteristics.wp.advances" type="text" value="{{system.characteristics.wp.advances}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
                <td>
                    <input name="system.characteristics.fel.advances" type="text" value="{{system.characteristics.fel.advances}}" data-dtype="Number" onblur="this.readOnly='true';" readonly="true" ondblclick="this.readOnly='';" />
                </td>
            </tr>
            <tr>
                <!-- <td>{{localize "WFRP1ed.CHAR.CharActual"}}</td> -->
                <td></td>
                <!-- <td>
                    <input name="system.characteristics.sp.actual" type="text" value="{{system.characteristics.sp.actual}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.characteristics.ws.actual" type="text" value="{{system.characteristics.ws.actual}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.characteristics.bs.actual" type="text" value="{{system.characteristics.bs.actual}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.characteristics.s.actual" type="text" value="{{system.characteristics.s.actual}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.characteristics.t.actual" type="text" value="{{system.characteristics.t.actual}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.characteristics.w.actual" type="text" value="{{system.characteristics.w.actual}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.characteristics.i.actual" type="text" value="{{system.characteristics.i.actual}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.characteristics.a.actual" type="text" value="{{system.characteristics.a.actual}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.characteristics.dex.actual" type="text" value="{{system.characteristics.dex.actual}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.characteristics.ld.actual" type="text" value="{{system.characteristics.ld.actual}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.characteristics.int.actual" type="text" value="{{system.characteristics.int.actual}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.characteristics.cl.actual" type="text" value="{{system.characteristics.cl.actual}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.characteristics.wp.actual" type="text" value="{{system.characteristics.wp.actual}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.characteristics.fel.actual" type="text" value="{{system.characteristics.fel.actual}}" data-dtype="Number" />
                </td> -->
                <td>
                    <div class="characterisitcs-table">{{system.characteristics.sp.actual}}</div>
                </td>
                <td>
                    <div class="rollable" data-roll="d100 - @ws.actual" data-label="{{localize 'WFRP1ed.CHAR.WS'}}">{{system.characteristics.ws.actual}}</div>
                </td>
                <td>
                    <div class="rollable" data-roll="d100 - @bs.actual" data-label="{{localize 'WFRP1ed.CHAR.BS'}}">{{system.characteristics.bs.actual}}</div>
                </td>
                <td>
                    <div class="rollable" data-roll="d100 - @s.actual * 10" data-label="{{localize 'WFRP1ed.CHAR.S'}}">{{system.characteristics.s.actual}}</div>
                </td>
                <td>
                    <div class="rollable" data-roll="d100 - @t.actual * 10" data-label="{{localize 'WFRP1ed.CHAR.T'}}">{{system.characteristics.t.actual}}</div>
                </td>
                <td>
                    <div>{{system.characteristics.w.actual}}</div>
                </td>
                <td>
                    <div class="rollable" data-roll="d100 - @i.actual" data-label="{{localize 'WFRP1ed.CHAR.I'}}">{{system.characteristics.i.actual}}</div>
                </td>
                <td>
                    <div>{{system.characteristics.a.actual}}</div>
                </td>
                <td>
                    <div class="rollable" data-roll="d100 - @dex.actual" data-label="{{localize 'WFRP1ed.CHAR.Dex'}}">{{system.characteristics.dex.actual}}</div>
                </td>
                <td>
                    <div class="rollable" data-roll="d100 - @ld.actual" data-label="{{localize 'WFRP1ed.CHAR.Ld'}}">{{system.characteristics.ld.actual}}</div>
                </td>
                <td>
                    <div class="rollable" data-roll="d100 - @int.actual" data-label="{{localize 'WFRP1ed.CHAR.Int'}}">{{system.characteristics.int.actual}}</div>
                </td>
                <td>
                    <div class="rollable" data-roll="d100 - @cl.actual" data-label="{{localize 'WFRP1ed.CHAR.Cl'}}">{{system.characteristics.cl.actual}}</div>
                </td>
                <td>
                    <div class="rollable" data-roll="d100 - @wp.actual" data-label="{{localize 'WFRP1ed.CHAR.WP'}}">{{system.characteristics.wp.actual}}</div>
                </td>
                <td>
                    <div class="rollable" data-roll="d100 - @fel.actual" data-label="{{localize 'WFRP1ed.CHAR.Fel'}}">{{system.characteristics.fel.actual}}</div>
                </td>
            </tr>
        </table>
    </div>
    <!--
    <section class="items">
        <h3 class="noborder">Owned Items</h3>
        <ol class="actor-items">
            {{#each actor.items as |item id|}}
                <li class="actor-item" data-item-id="{{id}}">
                    <div class="item-name">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                        <h4>{{item.name}}</h4>
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
        </ol>
    </section>
    -->
</form>